.swap-page {
  background-color: #09072E;
  height: 100vh;

  .navbar {
    height: 44px;
    background: transparent;
    margin-bottom: 12px;
    :deep(.van-nav-bar__title) {
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 500;
      font-family: 'PingFang', sans-serif;
    }
  }

  .content {
    margin: 0 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 8px 3px #117F99 inset;
    padding: 15px 15px 24px 15px;

  }

  .card {
    margin-bottom: 2px;
    .label-group {
      height: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      font-size: 10px;
      color: #A3A3A5;
      font-family: 'PingFang', sans-serif;
      font-weight: 400;
      line-height: 10px;
      .svg {
        width: 11px;
        height: 10px;
        margin-right: 4px;
      }
      .value {
        display: flex;
        align-items: center;
        justify-content: flex-end;

      }
      span {
        color: #04EBFF;
        margin-left: 6px;
        cursor: pointer;
      }
    }

    .token-input {
      box-sizing: border-box;
      height: 52px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      background: #F2F3F7;
      padding: 4px;
      gap: 5px;

      .token-icon {
        background: #FFFFFF;
        border-radius: 15px;
        padding: 5px 12px;
        display: flex;
        align-items: center;
        gap: 9px;
        .token {
          width: 34px;
          height: 34px;
          border-radius: 50%;
        }
        span {
          font-size: 14px;
          color: #000000;
          font-family: 'PingFang', sans-serif;
          font-weight: 500;
        }
      }
      .token-amount {
        box-sizing: border-box;
        height: 100%;
        flex: 1;
        padding: 8px 8px 8px 0;
        .amount-input {
          height: 14px;
          background: transparent;
          border: none;
          font-size: 16px;
          outline: none;
          padding: 0;
          margin-bottom: 4px;
          :deep(.van-field__control) {
            height: 14px;
            line-height: 14px;
            font-family: 'PingFang', sans-serif;
            font-weight: 500;
            color: #000000;
            text-align: right;
          }
        }
        .price {
          font-size: 8px;
          line-height: 10px;
          color: #A3A3A5;
          font-family: 'PingFang', sans-serif;
          font-weight: 500;
          text-align: right;
        }
      }

      .usd-value {
        font-size: 14px;
        color: #aaa;
      }
    }
  }
  .MB26 {
    margin-bottom: 26px;
  }

  .change-svg {
    width: 13px;
    height: 20px;
    margin: 0 auto;
    transform: translateY(10px);
  }

  .swap-btn {
    background: #04EBFF;
    border: none;
    border-radius: 15px;
    height: 42px;
    font-weight: 500;
    font-family: 'PingFang', sans-serif;
    font-size: 14px;
    margin-bottom: 37px;
  }

  .info-card {
    border-radius: 10px;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #F2F3F7;
    color: #FFFFFF;

    .info-row {
      height: 10px;
      display: flex;
      justify-content: space-between;
      font-family: 'PingFang', sans-serif;
      font-weight: 400;
      font-size: 10px;
      line-height: 10px;
      margin-bottom: 10px;
      .row-label:nth-child(1) {
        line-height: 10px;
        color: #A3A3A5;
        display: flex;
        align-items: center;
        gap: 6px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .row-value {
        display: flex;
        align-items: center;
        gap: 6px;
        justify-content: flex-end;
      }
      .tip-svg {
        width: 10px;
        height: 10px;
      }
    }
  }
}